{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/index/save" method="post">
		<table>
			<tr>
				<td>标题</td>
				<td><input type="text" name="title"/></td>
			</tr>
			<tr>
				<td>内容</td>
				<td><textarea name="content" id="" cols="30" rows="10"></textarea></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="添加"/></td>
			</tr>
		</table>
	</form>
</body>
</html>
{% endblock %}